# SPDX-FileCopyrightText: 2025  David Campbell <david@hnefatafl.org>
# SPDX-License-Identifier: MIT

/docs
/packages/debian/apt
/pkg
/profile.json
/profile.json.gz
/ssl
/target
/website/book
/website/index-now
/.vs

hnefatafl-ai-old
hnefatafl-copenhagen*
names.txt
perf.data

cargo-test-*
hnefatafl-copenhagen.*.nupkg
hnefatafl-client-installer-*.exe
v*.tar.gz

.pijul
