/packages/debian/apt
/profile.json
/profile.json.gz
/ssl
/target
/website/book
/website/index-now
/.vs

hnefatafl-ai-old
names.txt
perf.data

cargo-test-*
hnefatafl-copenhagen.*.nupkg
hnefatafl-client-installer-*.exe
v*.tar.gz
