# TODO:
# 1. There are no CJK fonts.
# 2. On a button press two characters are read in instead of one.
# 3. Backspace does not work.
# 4. TcpStream shutdown is not implemented.

[source]
git = "https://github.com/dcampbell24/hnefatafl"

[build]
template = "custom"
script = """
"${COOKBOOK_CARGO}" build \
    --manifest-path "${COOKBOOK_SOURCE}/${PACKAGE_PATH}/Cargo.toml" \
    --bin hnefatafl-client \
    --features client \
    --release \
    --no-default-features

mkdir -pv "${COOKBOOK_STAGE}/usr/bin"
cp -v \
    "target/${TARGET}/release/hnefatafl-client" \
    "${COOKBOOK_STAGE}/usr/bin/hnefatafl-client"

mkdir -pv "${COOKBOOK_STAGE}"/usr/games
mkdir -pv "${COOKBOOK_STAGE}"/ui/apps
mkdir -pv "${COOKBOOK_STAGE}"/ui/icons/apps
cp -rv "${COOKBOOK_SOURCE}"/icons/king_256x256.png "${COOKBOOK_STAGE}"/ui/icons/apps/hnefatafl-king_256x256.png
cp -rv "${COOKBOOK_SOURCE}"/packages/redox/manifest "${COOKBOOK_STAGE}"/ui/apps/hnefatafl-client
mv "${COOKBOOK_STAGE}"/usr/bin/hnefatafl-client "${COOKBOOK_STAGE}"/usr/games/hnefatafl-client
"""
