on: push
name: cargo fmt

permissions:
  actions: read # An explanation.

jobs:
  cargo_fmt:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    permissions:
      security-events: write # An explanation.
      actions: read # An explanation.

    steps:
      - uses: actions/checkout@v4
        with:
            persist-credentials: false

      - name: Run cargo fmt
        run: |
          rustup component add rustfmt
          cargo fmt --all --check
