on: push
name: cargo test

permissions:
  actions: read # An explanation.

jobs:
  cargo_test:
    name: cargo test
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    permissions:
      security-events: write # An explanation.
      actions: read # An explanation.

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
            persist-credentials: false

      - name: Run cargo test
        run: |
          sudo apt-get install libasound-dev mold
          cargo test --features js
          cargo test --benches
